/* Global Defaults */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
}

.card {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

/* Search Bar Styling */
.search-wrapper {
    position: relative;
    width: 270px;
}

.search-icon {
    /*position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    font-size: 0.9rem;
    pointer-events: none;*/
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    font-size: 0.9rem;
    z-index: 5;
}

.search-input {
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 2.2rem;
    background-color: #f8f9fa;
/*    border: 1px solid #e5e7eb;*/
    border: 1px solid transparent;
/*    border-radius: 8px;*/
    border-radius: 10px;
/*    font-size: 0.85rem;*/
    font-size: 0.9rem;
/*    transition: all 0.2s ease;*/
    transition: all 0.3s ease;
    outline: none;
}

.search-input:focus {
    /*border-color: #111827;
    box-shadow: 0 0 0 3px rgba(17, 24, 39, 0.05);
    width: 280px;*/
    background-color: #ffffff;
    border-color: #dee2e6;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
    width: 305px;
}

/* Global Navigation Styling */
.nav-link-custom {
    font-size: 0.85rem;
    font-weight: 500;
    color: #6c757d;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
}

.nav-link-custom:hover {
    color: #000;
    background-color: #f8f9fa;
}

.nav-link-custom.active {
    color: #000;
    font-weight: 700;
}

.logout-link {
    font-size: 0.8rem;
    color: #adb5bd;
}

.logout-link:hover {
    color: #dc3545;
    background-color: transparent;
}